# VITE_SUPABASE_URL=https://ukmqlkozdrktzutxtmoc.supabase.co
# VITE_SUPABASE_ANON_KEY=sb_publishable_C2iPzIbs1p3ZpFIT0DXEsA_5oH2wwjN

# # Supabase Edge Function used to send booking emails
# VITE_SUPABASE_BOOKING_EMAIL_FUNCTION=send-booking-email
VITE_SUPABASE_URL=https://kkknlsgenwcswppqghvc.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_IL3rERkNgBSuwTbX-zZOYg_vHztkJYz
VITE_SUPABASE_BOOKING_EMAIL_FUNCTION=send-booking-email